/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: rgb(255, 223, 215);
    font-family: Roboto, Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    margin-left: auto;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-linkss {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    transition: color 0.5s;
}

.nav-linkss:hover {
    color: darkorange;
}

/* Footer styles */
.footer {
    background-color: rgb(24, 23, 43);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.footer img {
    vertical-align: middle;
}

.down-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.down-nav li {
    margin: 0 10px;
}

.nav-linksss {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    transition: color 0.5s;
}

.nav-linksss:hover {
    color: darkorange;
}

.copyright {
    margin-top: 20px;
    font-size: small;
}

.the-book-of-morals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 1;
    text-align: left;
}

.book-image {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    margin-left: 20px; /* Adjust spacing between text and image */
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}

.me-img {
    width: 550px; /* Adjust the width as needed */
    height: auto;
    margin-left: 60px; /* Adjust spacing between text and image */
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.text-content-2 {
    flex: 1;
    text-align: right;
}

.featured {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}